.container{
    position:relative;
    margin:auto;
    width:100%;
    height: 100vh;
    perspective:400em;
    background-color: #DCDCDC;
}

.container .frame{
    width: 50%;
    height: 90%;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* .hairdo{
    width: 50%;
    height: 90%;
    background-color: blue;
    
}

.hairdo .headband{
    width: 100%;
    height: 30%;
    background-color: purple;
} */
.container .frame .head{
    width: 50%;
    height: 45%;
    box-shadow: -7em -12em 6em -9em #dbd1cc, 6em -15em 6em -12em rgba(172,144,127,0.53), -23em -30em 21em -16em rgba(248,244,236,0.39), 64em -61em 21em -53em rgba(95,58,22,0.32), -31em 21em 4em -34em #d7aba6;
    border-radius: 49% 30% 41% 25% / 42% 38% 59% 58%;
    background-color: yellow;
}

.body{
    width: 55%;
    height: 50%;
    background-color: brown;

}